<header class="app-header">
  <nav class="navbar is-white" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item brand" routerLink="/contacts">{{ appName }}</a>
    </div>

    <div class="navbar-menu is-active">
      <div class="navbar-start">
        <a class="navbar-item" routerLink="/contacts" routerLinkActive="is-active">Contacts</a>
        <a class="navbar-item" routerLink="/companies" routerLinkActive="is-active">Companies</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item actions">
          <a class="button is-link is-light" routerLink="/companies/new">New company</a>
          <a class="button is-link" routerLink="/contacts/new">New contact</a>
        </div>
      </div>
    </div>
  </nav>
</header>

<main class="app-main">
  <router-outlet />
</main>
